extends ../layouts/main
block content
  h1 top 10
  h2= error
  table.table
    thead
      tr
        td= "id"
        td= "term"
        td= "about" 
        td= "article" 
        td= "visits" 
        td= "last_visited" 
