extend ../layouts/main.pug
block pagejs
  script(src="/mine/mine-createModal.js")
  script(src="/mine/mine-create-alert-box.js")
  script(src="/pagejs/readingjournals/pagejs-readingjournals-index.js")
block content
  h1 Top 10 
  if alljournals
    .panel.panel-default
      each journal in alljournals
        .panel-heading 
          h4
            span(class="label label-warning")= 'id - ' + journal.id
            |&nbsp;&nbsp;
            = journal.title
        .panel-body
          ul.list-item-group
            li.list-item= journal.author 
            li.list-item= journal.journal 
            li.list-item= journal.visits 
            li.list-item= journal.tag 
            li.list-item= journal.reading_history 
            li.list-item= journal.timestamp 
          button(type="button" data-deleted-text="this item was deleted." data-itemid=journal.id,class="nohm-delete btn btn-primary") Delete It 

  else
    h2 zero items.
  div#modalBox
  div#log
